<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <title th:text="Forums">home</title>
</head>
<body>
    <div class="ui menu">
        <div class="header item">
            Delphi
        </div>
        <a class="item">
            Link
        </a>
        <div class="right menu">
            <div class="item">
                <button class="ui button">Logout</button>
            </div>
        </div>
    </div>

<div class="container">
    <div th:each="forum : ${forums}">
        <p><a th:href="@{/forums/{forumId}/posts(forumId=${forum.id})}" th:text="${forum.name}">Forum blah blah</a></p>
    </div>
</div>
</body>
</html>
